name: Build all
on: [ push, pull_request ]
jobs:
  call-build-single:
    uses: ./.github/workflows/build-single.yml
    name: ${{matrix.name}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows - MSVC
            runs-on: windows-2022
          - name: Windows - Conformant MSVC
            runs-on: windows-2022
            cmake-preset: Debug - conformant MSVC
          - name: Windows - clang-cl
            runs-on: windows-2022
            cmake-preset: Debug - clang-cl
          - name: Linux - GCC 14
            runs-on: ubuntu-24.04
            cmake-args: -DCMAKE_C_COMPILER=gcc-14 -DCMAKE_CXX_COMPILER=g++-14
          - name: MacOS - Apple Clang
            runs-on: macos-15
    with:
      name: ${{matrix.name}}
      runs-on: ${{matrix.runs-on}}
      cmake-args: ${{matrix.cmake-args}}
      cmake-preset: ${{matrix.cmake-preset}}